<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11C74</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>A6Softbounds</string>
	<key>CFBundleIdentifier</key>
	<string>com.tsuyukimakoto.aperture.A6Softbounds</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>A6Softbounds</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4D177b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0420</string>
	<key>DTXcodeBuild</key>
	<string>4D177b</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>A6Softbounds</string>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>Export</string>
			<key>uuid</key>
			<string>616BA321-B4C2-49DF-8FD8-2E3392D2D240</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>A6Softbounds</string>
			<key>displayName</key>
			<string>A6Softbounds</string>
			<key>group</key>
			<string>616BA321-B4C2-49DF-8FD8-2E3392D2D240</string>
			<key>helpURL</key>
			<string>http://www.apple.com/aperture/</string>
			<key>protocolNames</key>
			<array>
				<string>ApertureExportPlugIn</string>
			</array>
			<key>uuid</key>
			<string>F55D3260-521B-41F0-9AE8-AAAB501D5D82</string>
		</dict>
	</array>
	<key>ProPlugProtocolList</key>
	<array>
		<dict>
			<key>protocolName</key>
			<string>ApertureExportManager</string>
			<key>versions</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
